{% extends 'shop/basics.html' %}


  {% block title %}Mall.in{% endblock %}
  
  {% block css %}
  body{
    z-index:-1;
  }
  #navbar{
    display: flex;
    align-items: center;
     /* position: relative; */
    width: 100%;
     position: fixed;
     opacity:1;
     z-index:1;

}
#navbar ul{
  z-index: 1;
  font-family: 'Playball', cursive;
  display: flex;
}
img{
  z-index: 0;
  max-width:150px;
  height:150px;
}

    .image-container {
      z-index: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

   
.card{
  z-index: 0;
  
  margin: 5px 0px;
  justify-content:center;
  align-items: center;
  width:300px;
  height:350px;
 
}

.center{
  
  
  display:flex;
  justify-content:center;
  align-items:center;
}
.para{
  z-index: 0;
  margin: 10px;
  padding: 16px;
  text-align: center;
}
h4{
  z-index: 0;
  text-align: center;
  margin: 2px;
  padding: 2px;
}
body .carousel-control-prev-icon,
body .carousel-control-next-icon{
  z-index: 0;
background-color: blue;
}
.carousel-control-prev,
          .carousel-control-next{
            z-index: 0;
          top: auto;
bottom: auto;
          }
         
          .carousel-indicators [data-bs-target]{
            z-index: 0;
            background-color:green;
          }
         

    
{% endblock %}
{% block body %}
  {% load static %}
  <div class="container">
    {% for product, range , n_slides in allProds %}
    
<div class="center">

  <h5 class="my-4">Flash Sale On {{product.0.category}} - Recommended Items</h5>
</div>
   

    <div id="carouselExampleCaptions{{forloop.counter}}" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions{{forloop.counter}}" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
        {% for i in range %}
        <button type="button" data-bs-target="#carouselExampleCaptions{{forloop.parentloop.counter}}" data-bs-slide-to="{{i}}"
        aria-label='Slide {{i|add:1}}'></button>
        {% endfor %}
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          
          <div class="image-container">
            <div class="card">
              <img src="/media/{{product.0.image}}" class="d-block" alt="">
              <h4 class="center">{{product.0.product_name}}</h4>
              <p class="para">{{product.0.desc}}</p>
                    <button id="pr{{product.0.id}}" class="btn btn-primary cart">Add to cart</button>
            </div>
            {% for i in product|slice:"1:"%}
            <!-- ye one se lek pura end tk jayega -->
            <div class="card">
              <img src="/media/{{i.image}}" class="d-block" alt="">
              <h4 class="center">{{i.product_name}}</h4>
              <p class="para">{{i.desc}}</p>
              <button id="pr{{i.id}}" class="btn btn-primary cart">Add to cart</button>
            </div>
            {% if forloop.counter|add:1|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
          </div></div><div class="carousel-item"><div class="image-container">
          <!-- this second is closed for active one -->
            {% endif %}
            {% endfor %}
      </div> 
      </div> 
      </div> 
      </div> 
       
      <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleCaptions{{forloop.counter}}"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon " aria-hidden="true"></span>
        <span class="visually-hidden ">Previous</span>
      </button>
      <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleCaptions{{forloop.counter}}"
        data-bs-slide="next">
        <span class="carousel-control-next-icon " aria-hidden="true"></span>
        <span class="visually-hidden ">Next</span>
      </button>
    
    </div>
    {% endfor %}
</div>
{% endblock %}
 
  {% block js %}
  <script>
    update();
   console.log('working')

  //  for making cart
if(localStorage.getItem('cart') == null)
{
var cart={};
}
else{
cart= JSON.parse(localStorage.getItem('cart'));
}
//jQuery starts here//
$('.cart').click(function(){

// console.log('clicked');
var idstr = this.id.toString();
if(cart[idstr]!=undefined){
  cart[idstr]=cart[idstr]+1;
}
else{
  cart[idstr]=1;
}
console.log(cart);
localStorage.setItem('cart', JSON.stringify(cart)); 
update();
// here we update our system means when it reloads all our carts get not rid off
});
function update(){
cart_number = document.getElementById('cart_number');
if(localStorage.getItem('cart') != null){
  cartstr = localStorage.getItem('cart')
                cart = JSON.parse(cartstr)
  var number  = 0 ;
  for (let k in cart) {
    // console.log(k + ' is ' + fruits[k])
    number = number + cart[k];
}
cart_number.innerHTML = `cart(${number})`;
}
else{
  cart_number.innerHTML = "cart(0)";
}}


// localStorage.clear();
// localStorage.removeItem
  </script>
  {% endblock %}
  
</body>

</html>